<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Edite</title>
</head>
{% block body%}
<body>
    <div class="container">
        <header>

        </header>

        <div class="conteudo">
            <h1>"Edite, meu primeiro site no ar"</h1>

            <p>Entre no sistema</p>

{% block form %}
            <form method="POST">
                {{ form.csrf_token }}
                {{ form.email.label() }}
                {{ form.email() }}
                {{ form.senha.label() }}
                {{ form.senha() }}
                {{ form.bt_confirme() }}
            </form>
{% endblock %}


            <a href="{{ url_for ('criarconta')}}">Crie sua conta</a>
        </div>
    </div>
</body>
{% endblock %}

</html>
